In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('../../Data/NBA_totals_with_positions.csv')
print "(rows,cols) =",df.shape

dict = {' PG': 1, ' PF': 2, ' SG' : 3, ' SF' : 4, ' C' : 5}
invdict = {v: k for k, v in dict.iteritems()}

position_labels = [dict[x] for x in df['PosicAbbrev']]
df_numVar = df.select_dtypes(include=['number']).drop('Unnamed: 0',1)
df_numVar.head()

(rows,cols) = (476, 30)

,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,...,DREB,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-
0,31,69,36,33,1108,491,188,469,40.1,66,...,80,101,180,82,30,10,132,0,0,-10
1,20,78,32,46,1863,719,274,579,47.3,42,...,353,507,128,66,59,55,153,12,0,-76
2,21,21,15,6,93,18,5,19,26.3,3,...,11,15,2,4,6,0,10,0,0,-7
3,25,52,18,34,486,132,53,145,36.6,9,...,91,111,29,36,16,11,77,0,0,-120
4,30,82,48,34,2631,1249,529,1048,50.5,88,...,448,596,263,107,68,121,163,17,0,231

In [9]:
df_numVar.columns

Index([u'AGE', u'GP', u'W', u'L', u'MIN', u'PTS', u'FGM', u'FGA', u'FG%',
       u'3PM', u'3PA', u'3P%', u'FTM', u'FTA', u'FT%', u'OREB', u'DREB',
       u'REB', u'AST', u'TOV', u'STL', u'BLK', u'PF', u'DD2', u'TD3', u'+/-'],
      dtype='object')

In [11]:
df_numVar.iloc[:,5:] = df_numVar.iloc[:,5:].div(df_numVar["MIN"], axis=0) #dividing by minutes
df_numVar[["FG%","3P%","FT%"]] = df_numVar[["FG%","3P%","FT%"]].multiply(df_numVar["MIN"], axis = 0) #not dividing the % ones

In [12]:
df_numVar.head()

,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,...,DREB,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-
0,31,69,36,33,1108,0.443141,0.169675,0.423285,40.1,0.059567,...,0.072202,0.091155,0.162455,0.074007,0.027076,0.009025,0.119134,0.000000,0.0,-0.009025
1,20,78,32,46,1863,0.385937,0.147075,0.310789,47.3,0.022544,...,0.189479,0.272142,0.068706,0.035427,0.031669,0.029522,0.082126,0.006441,0.0,-0.040794
2,21,21,15,6,93,0.193548,0.053763,0.204301,26.3,0.032258,...,0.118280,0.161290,0.021505,0.043011,0.064516,0.000000,0.107527,0.000000,0.0,-0.075269
3,25,52,18,34,486,0.271605,0.109053,0.298354,36.6,0.018519,...,0.187243,0.228395,0.059671,0.074074,0.032922,0.022634,0.158436,0.000000,0.0,-0.246914
4,30,82,48,34,2631,0.474724,0.201064,0.398328,50.5,0.033447,...,0.170277,0.226530,0.099962,0.040669,0.025846,0.045990,0.061954,0.006461,0.0,0.087799

In [13]:
df_numVar.to_csv('../../Data/NBA_per_minute_complete_with_postions.csv')