In [254]:
import numpy as np
import pandas as pd

posic = pd.read_csv("Positions.csv", usecols=['Player','PosicAbbrev'])
NBA =pd.read_csv("nba-2015-2016-regular-season (1).csv")

In [255]:
posic.head()

                    Player PosicAbbrev
0        Russell Westbrook          PG
1              Rajon Rondo          PG
2            Stephen Curry          PG
3  Michael Carter-Williams          PG
4                John Wall          PG

In [215]:
NBA.head()

,Player,TEAM,AGE,GP,W,L,MIN,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,PTS,+/-
0,Aaron Brooks,CHI,31,69,36,33,16.1,2.7,6.8,40.1,...,1.5,2.6,1.2,0.4,0.1,1.9,0,0,7.1,-0.1
1,Aaron Gordon,ORL,20,78,32,46,23.9,3.5,7.4,47.3,...,6.5,1.6,0.8,0.8,0.7,2.0,12,0,9.2,-1.0
2,Aaron Harrison,CHA,21,21,15,6,4.4,0.2,0.9,26.3,...,0.7,0.1,0.2,0.3,0.0,0.5,0,0,0.9,-0.3
3,Adreian Payne,MIN,25,52,18,34,9.3,1.0,2.8,36.6,...,2.1,0.6,0.7,0.3,0.2,1.5,0,0,2.5,-2.3
4,Al Horford,ATL,30,82,48,34,32.1,6.5,12.8,50.5,...,7.3,3.2,1.3,0.8,1.5,2.0,17,0,15.2,2.8

In [256]:
df = NBA.set_index('Player').join(posic.set_index('Player')).reset_index()
df.head()
conflits2 = df.loc[~df.loc[:,'PosicAbbrev'].isin((' PG',' SG',' PF',' C',' SF')),('Player')]
conflits2.sort_values(inplace=True)
conflits2 = conflits2.reset_index()['Player']

In [257]:
df = posic.set_index('Player').join(NBA.set_index('Player')).reset_index()
df.head()
conflits = df.loc[~(df.loc[:,'AGE'] >= 0),('Player')]
conflits.sort_values(inplace=True)
conflits = conflits.reset_index()['Player']

aka = pd.DataFrame()
aka['NBA'] = conflits
aka['Pos'] = conflits2

aux = aka.loc[6,'Pos']
aka.loc[6,'Pos'] = aka.loc[8,'Pos']
aka.loc[8,'Pos'] = aka.loc[7,'Pos']
aka.loc[7,'Pos'] = aux
df = NBA

for i in aka.index:
    df.loc[df['Player'] == aka.loc[i,'Pos'],'Player'] = aka.loc[i,'NBA']

df = df.set_index('Player').join(posic.set_index('Player')).reset_index()

In [259]:
df.loc[:,'PosicAbbrev'].isin((' PG',' SG',' PF',' C',' SF')).all()

True

In [258]:
df.to_csv("NBA-preprocessed-data.csv")